{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <h1>Modification de votre fiche</h1>
    <section class="container">
        {{ include('profile/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

        <div class="row justify-content-center">
            <a class="btn btn-secondary mt-3 mb-3" href="{{ path('profile_user') }}">Retour à votre compte</a>
        </div>
    </section>
{% endblock %}
