{% extends 'layout.html.twig' %}
{% block carousel %}{% endblock %}
{% block title %}Média{% endblock %}
{% block body %}
    <h1 class="title text-center text-info">Média</h1>
    <div class="container">
        <div class="row justify-content-around">
            {% for media in medias %}
                <div class="embed-responsive embed-responsive-16by9 col-6 m-3">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ media.idYoutube }}"
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col6 align-self-center">
                    <h2>{{ media.title }}</h2>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
