{% extends 'layout.html.twig' %}
{% block title %}Média{% endblock %}
{% block carousel %}{% endblock %}
{% block body %}
    <h1 class="title text-center text-dark mt-5">Média</h1>
        <div class="container">
            <div class="row justify-content-between">
                {% for media in medias %}
                    <div class="embed-responsive embed-responsive-16by9 col-5 m-3">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ media.idYoutube }}"
                                frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                                encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-5 align-self-center">
                        <p class="paragraph">{{ media.title|nl2br }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
