{% extends 'layout.html.twig' %}
{% block carousel %}{% endblock %}
{% block title %}Média{% endblock %}
{% block body %}
    <h1 class="title text-center text-info">Média</h1>
    <div class="container">
        <div class="row justify-content-around">
            <div class="embed-responsive embed-responsive-16by9 col-6 m-3">
                <iframe class="embed-responsive-item" width="560" height="315"
                        src="https://www.youtube.com/embed/_J0MD7rhmXw" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div class="col6 align-self-center">
                <h2>titre de la vidéo en bdd</h2>
            </div>
        </div>
    </div>
{% endblock %}
