{% extends 'layout.html.twig' %}
{% block carousel %}{% endblock %}
{% block title %} RGPD {% endblock %}
{% block body %}
    <h1 class="text-center mt-4">Mentions légales</h1>
    <div class="container-fluid">
        {% for regulation in regulations %}
            <div class="row justify-content-center">
                <pre><p class="fitnessParagraph text-center col-8 py-2">{{ regulation.description|nl2br}}</p></pre>
            </div>
        {% endfor %}
    </div>
{% endblock %}
