{% extends 'base.html.twig' %}

{% block title %}Modification|Présentation{% endblock %}

{% block body %}
    <div class="container text-center">
            <h1>Modification du texte et de l'image</h1>
            <div class="row justify-content-center">
                {{ include('home/_form.html.twig', {'button_label': 'Enregistrer'}) }}
                <a class="btn btn-secondary btn m-3" href="{{ path('home') }}">Retour</a>
                {{ include('home/_delete_form.html.twig') }}
            </div>
    </div>
{% endblock %}
