{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="card-deck m-0">
        <div class="card m-4">
            <div class="view overlay">
                <img class="card-img-top" src="{{ asset('build/images/fitness.jpg') }}"
                     alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="card-title">Activité adaptée</h4>
                <p class="card-text">Les Activités physiques adaptées permettent de faire le lien entre les activités
                    physiques, sportives et artistiques et le handicap. Le but recherché est l’autodétermination des
                    personnes en situation de handicap à adopter un mode de vie physiquement actif sur une base
                    régulière afin de réduire les facteurs de risque reliés au mode de vie sédentaire et mettre en place
                    les conditions nécessaires pour améliorer la condition physique, et le bien être psychologique</p>
                <button type="button" class="btn btn-dark">Voir plus</button>
            </div>
        </div>
        <div class="card m-4">
            <div class="view overlay">
                <img class="card-img-top" src="{{ asset('build/images/fitness.jpg') }}"
                     alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="card-title">Remise en forme</h4>
                <p class="card-text">Une remise en forme efficace et durable pour atteindre et conserver une bonne
                    condition physique et un poids de forme dépend davantage de l'intensité des exercices du programme
                    sportif suivi que du volume d'entraînement. Reprendre le sport ne peut s'effectuer correctement sans
                    progressivité. Il faut du temps et un fin dosage dans l'intensité des séances de reprise mais aussi
                    des nutriments consommés pour espérer poursuivre longtemps le sport avec plaisir et sans
                    blessure.</p>
                <button type="button" class="btn btn-dark">Voir plus</button>
            </div>
        </div>
    </div>
{% endblock %}
