{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
        <div class="card-deck m-0">
            <div class="card m-4">
                <div class="view overlay">
                    <img class="card-img-top" src="{{ asset('build/images/fitness.jpg') }}"
                         alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Activité adaptée</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <button type="button" class="btn btn-dark">Voir plus</button>
                </div>
            </div>
            <div class="card m-4">
                <div class="view overlay">
                    <img class="card-img-top" src="{{ asset('build/images/fitness.jpg') }}"
                         alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Remise en forme</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <button type="button" class="btn btn-dark">Voir plus</button>
                </div>
            </div>
        </div>
{% endblock %}
