{% extends 'base.html.twig' %}

{% block title %}Fitness index{% endblock %}

{% block body %}
    <h1>Fitness index</h1>
        <div class="container">
            <table class="table text-dark text-center">
                <thead class="thead-light">
                    <tr>
                        <th>Texte de Présentation</th>
                        <th>Nom de l'image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for presentation in presentations %}
                        <tr>
                            <td>{{ presentation.text }}</td>
                            <td>{{ presentation.picture }}</td>
                            <td>
                                <a class="btn btn-primary btn-lg" href="{{ path('home_edit', {'id': presentation.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <a class="btn btn-secondary btn-lg" href="#">Retour</a>
        </div>
{% endblock %}
