<h1>Veuillez valider votre E-mail !</h1>
<p>
    Veuillez valider votre adresse E-mail en cliquant sur le lien ci-dessous:<br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon E-mail</a>.
    Ce lien ne sera plus valide dans . {{ expiresAt|date('g') }} heure(s).
</p>
<p>
    Merci !
</p>
