{% extends 'layout_admin.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Nouveau tarif{% endblock %}

{% block body %}
    <h1>Nouveau tarif</h1>
    {{ include('admin/tarif/_form.html.twig') }}
{% endblock %}
