{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe envoyée{% endblock %}

{% block header %}{% include 'include/_navbar.html.twig' %}{% endblock %}

{% block body %}
<div class="container col-12 col-md-4">
    <h1 class="h2 mb-3 mt-5 font-weight-normal text-center">Réinitialisation de mot de passe envoyée</h1>
    <p class="text-center">Un E-mail vous a été envoyé, celui-ci contient un lien que vous pouvez cliquer pour réinitialiser votre mot de passe. Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).</p>
    <p class="text-center py-3">Si vous ne trouvez pas cet E-mail, essayez de regarder dans votre dossier de spam.</p>
    <div class="row justify-content-center mt-5">
        <a class="btn btn-secondary" href="{{ path('app_forgot_password_request') }}">Réessayer</a>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <a class="btn btn-primary" href="{{ path('app_login') }}">Retour à la page de connexion</a>
    </div>

</div>
{% endblock %}

{% block footer %}{% include 'include/_footer.html.twig' %}{% endblock %}