{% extends 'layout.html.twig' %}
{% block carousel %}{% endblock %}
{% block title %} CGV {% endblock %}
{% block body %}
    <div class="container text-center">
        <p>
            {{ cvg.textCvg }}
        </p>
    </div>
{% endblock %}
