{% extends 'layout.html.twig' %}
{% block carousel %}{% endblock %}
{% block title %} CGV {% endblock %}
{% block body %}
    <h1 class="text-center mt-4">Conditions générales de vente</h1>
    <div class="container text-center mb-4">
        <img class="m-2" src="{{ asset('build/images/logoCouleur.jpg') }}" alt="Logo Damien Gouveia"
             title="Logo Damien Gouveia">
        <pre>
            {{ cgv.textCgv }}
        </pre>
    </div>
{% endblock %}
