{% extends 'layout_admin.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('indexAdmin') }}
    {% endblock %}
{% block title %}Nouveau|Texte|Entreprise{% endblock %}

{% block body %}
    <h1 class="title text-center mt-4">Ajouter un texte partie sport en entreprise</h1>

    {{ include('admin/company/_form.html.twig') }}
    <div class="text-center mt-4">
        <a class="btn btn-secondary" href="{{ path('company_admin') }}">Retour</a>
    </div>
{% endblock %}
