{% block stylesheets %}
    {{ encore_entry_link_tags('footer') }}
{% endblock %}

{% block footer %}
    <footer class="page-footer font-small text-light bg-info">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/"> DamienGouveia.fr</a>
        </div>
    </footer>
{% endblock %}
