{% extends 'layout_admin.html.twig' %}

{% block title %}Nouvelle|Vidéo{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Ajouter une nouvelle vidéo</h1>
    {{ include('media/_form.html.twig') }}
    <div class="text-center mt-4">
        <a class="btn btn-secondary" href="{{ path('media_admin') }}">Retour</a>
    </div>
{% endblock %}
