{% extends 'layout_admin.html.twig' %}

{% block title %}Nouvelle séance{% endblock %}

{% block body %}
    <h1>Nouvelle Séance</h1>

    {{ include('admin/calendar/_form.html.twig') }}

    <a href="{{ path('calendar_list') }}">back to list</a>
{% endblock %}
