{% extends 'layout.html.twig' %}

{% block body %}
    <div class="fitnessContent">

        <h1 class="text-center">Activité adaptée</h1>
        <div class="container-fluid">
            {% for description in activities %}
                <div class="row justify-content-center">
                    <p class="fitnessParagraph text-center col-8 py-2">{{ description.description }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="container d-flex justify-content-center">
            <div class="fitnessSubmitParagraph row">
                <p>Si vous-êtes intéressé, il vous suffit de remplir un formulaire en ligne, simple et rapide
                    !</p>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a class="fitnessButton btn btn-primary btn" href="#">S'inscrire</a>
        </div>
    </div>
    <section id="carousel-opinion" class="carouselFitness carousel slide pb-0" data-ride="carousel">
        <h2 class="text-center p-5">Les avis</h2>
        <div class="carousel-inner">
            {% for opinion in opinions %}
                <div class="carousel-item  {% if loop.index0 == 0 %} active {% endif %}">
                    <div class="container">
                        <p class="mb-4">{{ opinion.comment }}</p>
                        <p class="opinionAuthor lead">{{ opinion.author }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carousel-opinion" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précèdent</span>
        </a>
        <a class="carousel-control-next" href="#carousel-opinion" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </section>
{% endblock %}