{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <h1>Modification</h1>

    {{ include('walking/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
    <div class="container">
        <div class="row justify-content-between">
            <div class="col mt-2">
                <a class="btn btn-secondary" href="{{ path('walking_admin') }}">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}
