{% extends 'base.html.twig' %}

{% block title %}New Walking{% endblock %}

{% block body %}
    <h1>Ajouter une section</h1>

    {{ include('walking/_form.html.twig') }}

    <a href="{{ path('walking_index') }}">Retour à la liste</a>
{% endblock %}
