{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('walking') }}
{% endblock %}
{% block body %}
    <section class="nordic-walking">
        <div class="walkingOverlay">
            <div class="container">
                {% for walk in walks %}
                    <div class="row justify-content-between">
                        <div class="col-lg-5">
                            <img src="{{ asset('uploads/' ~ walk.picture) }}">
                        </div>
                        <p class="col-lg-5">{{ walk.description }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="walk-submit">
                <p>Si vous êtes intéressé, il suffit de remmplir un formulaire en ligne, simple et rapide !</p>
                <a href="#" class="btn btn-secondary btn m-3">S'inscrire</a>
            </div>
        </div>
    </section>
{% endblock %}
