<form method="post" action="{{ path('cgv_delete', {'id': cgvid}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer les conditions générales de ventes ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cgv.id) }}">
    <button class="btn btn-danger mb-sm-2 mb-2 btn">Supprimer</button>
</form>
