<div class="container">
    {{ form_start(form) }}
    {{ form_widget(form.textCgv,{ 'attr': {'rows': '10'} }) }}
        <div class="text-center">
            <button class="btn btn-primary btn m-3">{{ button_label|default('Sauvegarder') }}</button>
        </div>
    {{ form_end(form) }}
</div>
