{% extends 'layout_admin.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('indexAdmin') }}
    {% endblock %}

{% block title %}Ajouter|CGV{% endblock %}

{% block body %}
    <h1 class="title text-center mt-4">Ajouter un nouveau document</h1>
    {{ include('admin/cgv/_form.html.twig') }}
    <div class="text-center mt-4">
        <a class="btn btn-secondary" href="{{ path('cgv_admin') }}">Retour</a>
    </div>
{% endblock %}
