{% extends 'layout.html.twig' %}

{% block body %}
    <div class="gymContent">

        <h1 class="text-center">Salle de Sport</h1>
        <div class="container-fluid">
            {% for gymtext in gymtexts %}
                <div class="row justify-content-center">
                    <p class="gymParagraph text-center col-8 py-2">{{ gymtext.GymText }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
