{% extends 'layout_admin.html.twig' %}

{% block title %}Modifier|Commentaire{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div class="container">
        <h1 class="title text-info text-center mt-4">Modifier un commentaire</h1>
            {{ include('opinion/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
    <div class="text-center">
        <a class="btn btn-secondary btn-lg" href="{{ path('who') }}">Retour</a>
    </div>
{% endblock %}
