{% extends 'layout_admin.html.twig' %}

{% block title %}Ajout d'un nouvel avis{% endblock %}

{% block body %}
    <h1>Ajout d'un nouvel avis</h1>
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="text-center">
    {{ include('opinion/_form.html.twig') }}
</div>
    <a class="btn btn-secondary btn-lg m-3" href="{{ path('home') }}">Retour</a>
{% endblock %}

