{% extends 'layout_admin.html.twig' %}
  {% block stylesheets %}
      {{ encore_entry_link_tags('indexAdmin') }}
  {% endblock %}

{% block title %}Ajouter un texte dans la section Activitée adaptée{% endblock %}

{% block body %}
    <h1 class="title text-center mt-4">Ajouter un texte</h1>
    {{ include('activity/_form.html.twig') }}
    <div class="text-center mt-4">
        <a class="btn btn-primary" href="{{ path('activity_index') }}">Retour</a>
    </div>

{% endblock %}
