@import "app.scss";

.title {
    padding-top: $spacing-4;
}

.titreH2 {
    font-size: $h3-font-size;
}

.card {
    width: 18rem;
}

.icon {
    justify-content: center;
    max-width: 150px;
}

.vich-file {
    & .form-group{
        display: none;
    }

    & a {
        display: none;
    }
}
