@import 'app.scss';

h1 {
    text-align: center;
}

.custom-file-input ~ .custom-file-label:lang(fr)::after {
    content: "Parcourir...";
}

.adminTitle {
    padding-top: $spacing-5;
}

label {
    color: $dark;
}

.vich-file {
    & .form-group{
        display: none;
    }

    & a {
        display: none;
    }
}
