@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: $primary;
    color: $dark;
    font-family: $font-text;
}
h1 {
    padding: $spacing-2 0;
    font-family: $font-title;
    font-size: $h1-font-size;
}
h2 {
    padding: $spacing-2 0;
    font-family: $font-title;
    font-size: $h2-font-size;
}
h3 {
    padding: $spacing-2 0;
    font-family: $font-title;
    font-size: $h2-font-size;
}
h4 {
    padding: $spacing-2 0;
    font-family: $font-title;
    font-size: $h2-font-size;
}
