@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: $dark;
    font-family: $font-text;
}

h1 {
    padding: $spacing-4 0;
    font-family: $font-text;
    font-size: $h1-font-size;
}

h2 {
    padding: $spacing-2 0;
    font-family: $font-text;
    font-size: $h2-font-size;
}

h3 {
    font-family: $font-text;
    font-size: $h3-font-size;
}

h4 {
    font-family: $font-text;
    font-size: $h4-font-size;
}

.imageCarousel{
    object-fit: cover;
}

.textTitle {
    margin-top: $spacing-5;
}

.logo {
    width: 50px;
    height: 50px;
}
