@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: $dark;
    font-family: $font-text;
}

h1, h2, h3, h4 {
    font-family: $font-title;
}


.logo {
    width: 50px;
    height: 50px;
}

.navbar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.overlay {
    background: url("../images/overlay.jpg") no-repeat;
    filter: brightness(70%);
    height: 100vh;
}
