@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $primary;
    color: $dark;
    font-family: $font-text;
}

h1, h2, h3, h4 {
    font-family: $font-title;
}
