@import 'app.scss';

.main h1 {
    margin-top: $spacing-3;
}

.information {
    border: solid $dark;
    border-radius: $border-radius;
}

#map {
    width: $width-map;
    height: $weight-map;
}

.timetable {
    justify-content: center;
    border: solid $dark;
    border-radius: $border-radius;
}

.day {
    font-weight: bold;
    font-size: 1.4em;
}

.link {
    border-radius: 50%;
}

.link:hover {
    box-shadow: $box-shadow;
}

.title {
    margin-top: $spacing-2;
}

.form {
    padding: $spacing-4;
    border: solid $dark;
    border-radius: $border-radius;
}
