@import "app.scss";

.fitnessBackground {
    background-image: url("../images/backgroundFitness.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.fitnessOverlay {
    background-color: $backgroundOverlay;
}

.fitnessParagraph {
    margin-top: $spacing-4;
}

.fitnessParagraph {
    color: $light;
    font-size: $text-font-size;
    margin-bottom: $spacing-5;
    margin-left: $spacing-3;
    margin-right: $spacing-3;
}

.fitnessContent {
    .row:nth-child(2n) {
        flex-direction: row-reverse;
    }
}

.fitnessParagraphImage {
    padding: 0;
    filter: brightness(80%);
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin-bottom: $spacing-4;
}

.fitnessSubmitParagraph {
    padding: 0;
    color: $light;
    font-size: $text-font-size;
}

.fitnessButton {
    margin-bottom: $spacing-4;
}
