@import "app.scss";

.gymParagraph {
    color: $text-color;
    font-size: $text-font-size*1.25;
    margin: $spacing-4 $spacing-3 $spacing-5;
}

.carouselFitness {
    background-color: $background-opinion;
    min-height: 350px;
}
