@import "app.scss";

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

.homeTextPresentation {
    display: flex;
    align-content: center;
}

.homeText {
    color: $text-color;
    text-align: center;
    width: 60vw;
}

.cardContact {
    padding-top: $spacing-4;
}

.sportAdapt {
    filter: brightness(60%);
}

.fitness {
    filter: brightness(60%);
}

.sportCard {
    padding: $spacing-4 0;
    background: url("../images/fondSectionSport.jpg") no-repeat fixed center;
}

.serviceSport {
    padding-top: $spacing-3;
}

.salleSportImage {
    border-radius: $border-radius;
    padding-bottom: $spacing-2;
}

.homeContact {
    padding-bottom: $spacing-4;
}
