@import "app.scss";

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

.homeTextPresentation {
    display: flex;
    align-content: center;
}

.homeText {
    color: $text-color;
    text-align: center;
    width: 60vw;
}

.sportAdapt {
    filter: brightness(60%);
}

.fitness {
    filter: brightness(60%);
    border-radius: $border-radius;
}

.serviceSport {
    padding-top: $spacing-3;
    background: url("../images/fondSectionSport.jpg") no-repeat fixed center;
}

.linkCategory {
    transition: 0.3s;
}

.linkCategory:hover {
    transition: 0.3s;
    box-shadow: $box-shadow-card;
}

.sportCard {
    border: none;
}

.serviceSport h2 {
    color: $light;
}

