@import "app.scss";

section {
    padding-bottom: $spacing-4;
}

.title {
    display: flex;
    justify-content: center;
    color: $light;
    padding-top: $spacing-4;
}

.portrait {
    border-radius: $border-radius;
    filter: brightness(60%);
    max-height: 500px;
    margin: $spacing;
}

.textIntro {
    padding: $spacing-4 0;
}

.homeText {
    color: $text-color;
    width: 60vw;
}

.serviceSport h2 {
    padding: $spacing-4 0;
    color: $warning;
}

.sportAdapt {
    filter: brightness(60%);
}

.fitness {
    filter: brightness(60%);
    border-radius: $border-radius;
}

.serviceSport {
    background-color: $dark;
}

.linkCategory {
    transition: 0.3s;
    border: 2px solid $light;
    height: 600px;
}

.textCard {
    font-size: 6rem;
}

.linkCategory:hover {
    transition: 0.3s;
    box-shadow: $box-shadow-card;
}

.homeContact h2 {
    padding: $spacing-4 0;
}

.imgSportContact.card {
    border: none;
}

.salleSportImage {
    border-radius: $border-radius;
    margin-bottom: $spacing-2;
    background-color: $transparent;
    filter: brightness(60%);
    z-index: 1;
}

.informationContact {
    z-index: 5;
}

input:valid {
    box-shadow: 0 0 2px 1px green;
    border: none;
}

.homeContact {
    padding-bottom: $spacing-4;
    background-color: $dark;
}

.homeContact h2 {
    color: $warning;
}

.vich-file {
    & .form-group{
        display: none;
    }

    & a {
        display: none;
    }
}

label {
    color: $light;
}

.custom-file-input ~ .custom-file-label:lang(fr)::after {
    content: "Parcourir...";
}
