@import "app.scss";

section {
    padding-bottom: $spacing-4;
}

.title {
    display: flex;
    justify-content: center;
    color: $light;
    padding-top: $spacing-4;
}

h2 {
    display: flex;
    justify-content: center;
}

.portrait {
    border-radius: $border-radius;
    filter: brightness(60%);
    max-height: 300px;
    margin: $spacing;
}

.textIntro h2 {
    padding: $spacing-4 0;
}

.homeText {
    color: $text-color;
    width: 60vw;
}

.serviceSport h2 {
    padding: $spacing-4 0;
    color: $light;
}

.sportAdapt {
    filter: brightness(60%);
}

.fitness {
    filter: brightness(60%);
    border-radius: $border-radius;
}

.serviceSport {
    background-color: $info;
}

.linkCategory {
    transition: 0.3s;
    border: 2px solid $warning;
}

.linkCategory:hover {
    transition: 0.3s;
    box-shadow: $box-shadow-card;
}

.homeContact h2 {
    padding: $spacing-4 0;
}

.imgSportContact.card {
    border: none;
}

.salleSportImage {
    border-radius: $border-radius;
    margin-bottom: $spacing-2;
    background-color: $transparent;
}

input:valid {
    box-shadow: 0 0 2px 1px green;
    border: none;
}

.homeContact {
    padding-bottom: $spacing-4;
}

.vich-file {
    & .form-group{
        display: none;
    }

    & a {
        display: none;
    }
}
