@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap');

$text-color: #000000;
$primary: #057DCD;
$secondary: #43B0F1;
$dark: #1E3D58;
$light: #E8EEF1;
$info: rgba(30, 61, 88, 0.90);
$warning: rgba(30, 61, 88, 0);
$font-title: 'Archivo Black', sans-serif;
$font-text: 'Saira Semi Condensed', sans-serif;
$text-font-size: 1rem;
$text-color: #000000;
$footer-font-size: 0.85rem;
$footer-title-size: 1.35rem;
$h1-font-size: 4rem;
$h2-font-size: 2.5rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.2rem;
$spacing: 8px;
$spacing-2: $spacing * 2;
$spacing-3: $spacing * 4;
$spacing-4: $spacing * 8;
$spacing-5: $spacing * 16;
$border-radius: 8px;
$box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.75);
$box-shadow-card: 3px 3px 15px 0px rgba(255, 255, 255, 0.75);
$width-map: 100%;
$weight-map: 400px;
