@import "app.scss";

.walkingParagraph {
    color: $text-color;
    font-size: $text-font-size*1.25;
    margin: $spacing-4 $spacing-3 $spacing-5;
}

.walkingParagraph:empty {
    display: none;
}

.walkingSubmitParagraph {
    padding: 0;
    color: $text-color;
    font-size: $text-font-size*1.25;
}

.walkingButton {
    margin-bottom: $spacing-4;
}

.walkingPicture {
    position: absolute;
    object-fit: cover;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}