@import "app.scss";

.walkingParagraph {
    color: $text-color;
    font-size: $text-font-size*1.25;
    margin: $spacing-4 $spacing-3 $spacing-5;
}

.walkingSubmitParagraph {
    padding: 0;
    color: $text-color;
    font-size: $text-font-size*1.25;
}

.walkingButton {
    margin-bottom: $spacing-4;
}

.walkingFitness {
    background-color: $background-opinion;
    min-height: 350px;
}