@import "app.scss";

.who {
    padding: 100px 0;
    background: $light;
}

.who p {
    color: $dark;
    margin-bottom: 0;

}

.who ul {
    color: $dark;
}

.who h2 {
    margin-bottom: $spacing-4;
    color: $dark;
}

.who-title {
    color: $dark;
    text-align: center;

}

.DamienG {

    border-radius: 8px;
}