@import "app.scss";

.who-title {
    padding-top: $spacing-4;
}

.opinionTitle{
    margin-bottom: $spacing-4;
    color: $dark;
}

.opinionText{
    color: $dark;
    margin-bottom: 0;
}

.opinionAuthor{
    color: $dark;
    margin-bottom: 0;
}

.portrait {
    border-radius: $border-radius;
    filter: brightness(60%);
    max-height: 600px;
    margin: $spacing;
}
