@import "app.scss";

.who {
    padding: 100px 0;
    background: $light;
}

.who p {
    color: $dark;
    margin-bottom: 0;

}

.who ul {
    color: $dark;
}

.who h2 {
    margin-bottom: $spacing-4;
    color: $dark;
}

.who-title {
    color: $dark;
    text-align: center;

}

.DamienG {
    padding-top: $spacing-4;
    border-radius: $border-radius;
}

.opinionTitle{
    margin-bottom: $spacing-4;
    color: $dark;
}

.opinionCard{
    border-width:1px;
    border-style:solid;
    border-color:$warning;
    margin: $spacing-2;
    align-content: center;
}

.opinionText{
    color: $dark;
    margin-bottom: 0;
}

.opinionAuthor{
    color: $dark;
    margin-bottom: 0;
}

.carousel {
    background-color: #E8EEF1;
    min-height: 150px;
}
