{% extends 'base.html.twig' %}

{% block title %}Edit Regulation{% endblock %}

{% block body %}
    <h1>Edit Regulation</h1>

    {{ include('regulation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('regulation_index') }}">back to list</a>

    {{ include('regulation/_delete_form.html.twig') }}
{% endblock %}
