{% extends 'layout.html.twig' %}

{% block body %}
    {% block title %}Remise en forme{% endblock %}
    <h1 class="text-center">Remise en forme</h1>
        <div class="container-fluid">
            {% for description in descriptions %}
                <div class="row justify-content-center">
                    <p class="paragraph col-8 py-2">{{ description.FitnessText|nl2br }}</p>
                </div>
            {% endfor %}
            <div class="text-center">
                <p>Si vous-êtes intéressé, il vous suffit de remplir un formulaire en ligne, simple et rapide !</p>
                <a class="btn btn-primary btn mb-5" href="{{ path('contact_show') }}">Envoyer un e-mail</a>
            </div>
        </div>

    <section id="carousel-opinion" class="carouselOpinion carousel slide pb-0" data-ride="carousel">
        <h2 class="text-center p-5">Les avis</h2>
        <div class="carousel-inner">
            {% for opinion in opinions %}
                <div class="carousel-item  {% if loop.index0 == 0 %} active {% endif %}">
                    <div class="container">
                        <p class="mb-4">{{ opinion.comment }}</p>
                        <p class="opinionAuthor lead">{{ opinion.author }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carousel-opinion" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précèdent</span>
        </a>
        <a class="carousel-control-next" href="#carousel-opinion" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </section>
{% endblock %}
