{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('fitness') }}
    {% endblock %}

{% block title %}Fitness{% endblock %}

{% block body %}
    <section class="fitnessBackground">
        <h1 class="text-center">Remise en forme</h1>

        <div class="container">
            <div class="fitnessParagraphDiv row justify-content-center align-items-center">
                <img class="fitnessParagraphImage col-lg-5" src="{{ asset('build/images/LosingWeight.jpg') }}"
                     alt="Fitness Paragraph Image">
                <p class="fitnessParagraph text-center col-lg-5 col-8 py-2">Lorem ipsum dolor sit amet, consectetur adipisi
                    cing elit. Ad amet blanditiis corporis distinctio dolorem eligendi expedita fuga illum iust
                </p>
            </div>

            <div class="fitnessParagraphDiv row flex-row-reverse justify-content-center align-items-center">
                <img class="fitnessParagraphImage col-lg-5" src="{{ asset('build/images/SalleSport.jpg') }}"
                     alt="Fitness Paragraph Image">
                <p class="fitnessParagraph text-center col-lg-5 col-8 py-2">Lorem ipsum dolor sit amet, consectetur adipisi
                    cing elit. Ad amet blanditiis corporis distinctio dolorem eligendi expedita fuga illum iusto
                    laborum modi mollitia neque perferendis, provident qui tempora tenetur velit voluptatum?</p>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="fitnessSubmitParagraph text-center">
                <p>Si vous-êtes intéressé, il vous suffit de remplir un formulaire en ligne, simple et rapide !</p>
            </div>
        </div>
        <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="#">S'incrire</a>
        </div>
    </section>

{% endblock %}
