{% extends 'layout.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('who') }}
    {% endblock %}
{% block carousel %}{% endblock %}
{% block title %}Qui suis-je ?{% endblock %}

{% block body %}
    <section class="who container-fluid">
        <h1 class="who-title">Damien Gouveia : Coach sportif Orléans</h1>
        <div class="row">
            <div class="col-md-4">
                <img class="DamienG img-fluid" src="{{ asset('build/images/DamienG.jpg') }}"
                     alt="photo Damien Gouveia">
            </div>
            <div class="col-8">
                <div class="philosophie text-block">
                    <h2>Ma philosophie de travail : </h2>
                    <p> Après avoir travaillé pendant plusieurs années dans la préparation physique, mais aussi dans le monde
                de l’entrainement auprès de sportifs professionnels. <br>
                J'ai eu envie de donner un véritable sens, un accomplissement à ma vie professionnelle :
                    </p>
                    <p>
                        <strong>Accompagner les personnes</strong> dans leur prise en charge de la santé
                        Participer à <strong>améliorer leur qualité de vie</strong>
                    </p>

                    <p>
                Je mets alors à contribution, mon expérience, mes savoirs et compétences acquis <br>
                dans le domaine de l’entrainement au profit de personnes sédentaires, peu sportives ou atteintes de pathologies.<br>
                Ma <strong>complémentarité avec les professionnels de santé</strong>
                (médecins, endocrinologues, kinésithérapeutes, ostéopathes, … )<br>
                avec qui je collabore quotidiennement permet d’établir un véritable travail d’équipe qui n’en rendra
                notre travail que plus efficace.
                    </p>
                </div>
            </div>

        </div>

    </section>
    <section id="carousel-opinion" class="carousel slide pb-0" data-ride="carousel">
        <h2 class="text-center p-5">Les avis</h2>
        <div class="carousel-inner">
            {% for opinion in opinions %}
                <div class="carousel-item  {% if loop.index0 == 0 %} active {% endif %}">
                    <div class="container">
                        <p class="mb-4">{{ opinion.comment }}</p>
                        <p class="opinionAuthor lead">{{ opinion.author }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carousel-opinion" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précèdent</span>
        </a>
        <a class="carousel-control-next" href="#carousel-opinion" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </section>
{% endblock %}
