{% extends 'layout.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('who') }}
    {% endblock %}

{% block title %}Qui suis-je ?{% endblock %}

{% block body %}
    <section class="who container-fluid">
        <h1 class="who-title">Damien Gouveia : Coach sportif Orléans</h1>
        <div class="row">
            <div class="col-md-4">
                <img class="DamienG img-fluid" src="{{ asset('build/images/DamienG.jpg') }}"
                     alt="photo Damien Gouveia">
            </div>
            <div class="col-8">
                <div class="philosophie text-block">
                    <h2>Ma philosophie de travail : </h2>
                    <p> Après avoir travaillé pendant plusieurs années dans la préparation physique, mais aussi dans le monde
                de l’entrainement auprès de sportifs professionnels. <br>
                J'ai eu envie de donner un véritable sens, un accomplissement à ma vie professionnelle :
                    </p>
                    <p>
                        <strong>Accompagner les personnes</strong> dans leur prise en charge de la santé
                        Participer à <strong>améliorer leur qualité de vie</strong>
                    </p>

                    <p>
                Je mets alors à contribution, mon expérience, mes savoirs et compétences acquis <br>
                dans le domaine de l’entrainement au profit de personnes sédentaires, peu sportives ou atteintes de pathologies.<br>
                Ma <strong>complémentarité avec les professionnels de santé</strong>
                (médecins, endocrinologues, kinésithérapeutes, ostéopathes, … )<br>
                avec qui je collabore quotidiennement permet d’établir un véritable travail d’équipe qui n’en rendra
                notre travail que plus efficace.
                    </p>
                </div>
            </div>

        </div>

    </section>
{% endblock %}
