{% extends 'layout.html.twig' %}

{% block title %}Who I Am ? {% endblock %}

{% block body %}
    <section class="container-fluid row-col-8">
        <div class="d-flex text-center flex-column align-items-center">
            <h1>Damien Gouveia</h1>
            <h2>Ma philosophie</h2>
            <p> Après avoir travaillé pendant plusieurs années dans la préparation physique, mais aussi dans le monde
                de l’entrainement auprès de sportifs professionnels. <br>
                J'ai eu envie de donner un véritable sens, un accomplissement à ma vie professionnelle :
            </p>
            <li>
                <ul><strong>Accompagner les personnes</strong> dans leur prise en charge de la santé</ul>
                <ul>Participer à <strong>améliorer leur qualité de vie</strong> </ul>
            </li>
            <p>
                Je mets alors à contribution, mon expérience, mes savoirs et compétences acquis <br>
                dans le domaine de l’entrainement au profit de personnes sédentaires, peu sportives ou atteintes de pathologies.<br>
                Ma <strong>complémentarité avec les professionnels de santé</strong>
                (médecins, endocrinologues, kinésithérapeutes, ostéopathes, … )<br>
                avec qui je collabore quotidiennement permet d’établir un véritable travail d’équipe qui n’en rendra
                notre travail que plus efficace.
            </p>
        </div>
        <div class="row-cols-xl-4 d-flex text-center flex-column align-items-center">
            <img class="DamienG" src="{{ asset('build/images/DamienG.jpg') }}"
                 alt="photo Damien Gouveia">
        </div>
    </section>
    <section class="opinion">
    <h2 class="opinionTitle text-center">Leur avis</h2>
    <div class="jumbotron mt-5">
        <div class="d-flex justify-content-center"><i class="fa fa-quote-right fa-2x text-primary"></i></div>
        <div class="row mt-4 ">
            {% for opinion in opinions %}
            <div class="opinionCard col-sm-8 align-items-center">
                <p class="opinionText">{{ opinion.comment }}</p>
                <p class="opinionAuthor">{{ opinion.author }}</b></p>
            </div>
            {% endfor %}
        </div>
    </div>
    </section>
{% endblock %}
