<form method="post" action="{{ path('fitness_delete', {'id': description.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer le texte ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ description.id) }}">
    <button class="btn btn-danger mx-2 mb-sm-2 mb-2 btn-sm">Supprimer</button>
</form>

