{% extends 'layout_admin.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('indexAdmin') }}
    {% endblock %}

{% block title %}Ajouter un texte partie Remise en forme{% endblock %}

{% block body %}
    <h1 class="title text-center mt-4">Ajouter un texte</h1>
    {{ include('admin/fitness/_form.html.twig') }}
        <div class="text-center mt-4">
            <a class="btn btn-secondary" href="{{ path('fitness_admin') }}">Retour</a>
        </div>
{% endblock %}
