{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('walking') }}
{% endblock %}
{% block title %}Ajouter un texte partie Remise en forme{% endblock %}

{% block body %}
    <h1>Ajouter un texte</h1>

    {{ include('admin/fitness/_form.html.twig') }}
    <div class="container">
        <div class="row justify-content-end">
            <div class="m-4">
                <a class="btn btn-primary" href="{{ path('fitnessAdmin') }}">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}
