{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('walking') }}
{% endblock %}
{% block title %}Ajouter un texte partie Remise en forme{% endblock %}

{% block body %}
    <h1 class="text-center">Ajouter un texte</h1>
    {{ include('admin/fitness/_form.html.twig') }}
            <div class="text-center m-4">
                <a class="btn btn-primary" href="{{ path('fitnessAdmin') }}">Retour</a>
            </div>
{% endblock %}
