{% extends 'layout.html.twig' %}

{% block carousel %}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5 text-center">Oups!!! Erreur 404...</h1>
        <h2 class="h3 text-center">La page demandée est introuvable</h2>
        <div class="text-center mt-5">
            <img src="{{ asset('build/images/logoCouleur.jpg') }}" alt="Logo Damien Gouveia">
        </div>
        <p class="text-center mt-5">Nous sommes actuellement en pleine séance de coaching. Veuillez accepter nos excuses pour ce désagrément.</p>
        <div class="text-center my-5">
            <a class="btn btn-secondary" href="{{ path('home') }}">Retour à la page d'accueil</a>
        </div>
    </div>
{% endblock %}
