{% extends 'layout_admin.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('indexAdmin') }}
    {% endblock %}
{% block title %}Modifier|Qui suis-je{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title text-center mt-4">Administration de Qui suis-je ?</h1>
            {{ include('admin/presentation/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        <div class="text-center">
            <a class="btn btn-secondary btn m-3" href="{{ path('presentation_admin') }}">Retour</a>
        </div>
    </div>
{% endblock %}
