{% extends 'layout.html.twig' %}
{% block carousel %}{% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('tariff') }}
    {% endblock %}

{% block title %}Tarifs{% endblock %}

{% block body %}
    <section>
        <h1 class="title text-center">Tarifs</h1>
        <div  class="d-flex justify-content-center pb-4">
            <table class="table col-10 text-center ">
                <thead class="text-warning bg-dark">
                    <tr>
                        <th scope="col">Salle</th>
                        <th scope="col">Marche nordique</th>
                    </tr>
                </thead>
                {% for tariff in tariffs %}
                <tbody>
                    <tr>
                        <td>{{ tariff.description }}</td>
                        <td>{{ tariff.price }} €</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}
