<form method="post" action="{{ path('contact_delete', {'id': contact.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer les données ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
    <button class="col btn btn-danger mb-sm-2 mb-2 btn">Supprimer</button>
</form>
