{% extends 'layout_admin.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('indexAdmin') }}
    {% endblock %}
{% block title %}Modifier|Contact{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title text-center mt-4">Modification Contact</h1>
            {{ include('admin/contact/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        <div class="text-center">
            <a class="btn btn-secondary btn m-3" href="{{ path('contact_admin') }}">Retour</a>
        </div>
    </div>
{% endblock %}
